@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scrollbar-width: thin;
  scrollbar-color: #051129 #2e2e2ed7;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #2e2e2ed7;
}
::-webkit-scrollbar-thumb {
  background: #051129;
  border-radius: 20px;
  border: 3px solid #2e2e2ed7;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d214a;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader-container {
  position: relative;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite alternate,
    changeColor 2s linear infinite;
}

.ball1 {
  animation-duration: 1.5s;
}
.ball2 {
}
.ball3 {
  animation-duration: 0.8s;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: none;
}

.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #3576df;
  border-radius: 10px;

  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #3576df;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #2558a6;
}

.scroll-bar:hover::-webkit-scrollbar {
  scrollbar-width: auto;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes changeColor {
  0%,
  100% {
    background-color: #3498db;
  }
  50% {
    background-color: #e74c3c;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader1 {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}
